@*@model Movie.Models.Favorite*@
@{
    Layout = null;
}


@using (Html.BeginForm("AddFavorite", "UserOperation", FormMethod.Post, new { style = "float:left;width:20px;height:20px" }))
{
    <button type="submit" class="btn btn-lg btn-link"><span class=" glyphicon glyphicon-star"></span></button>
}