@model IEnumerable<Movie.Models.Video>
@{
    ViewBag.Title = "History";
}
@{
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="container" style="margin-top: 52px; width: 60%;">
    <div style="float: left;">
        记录了我的<span id="recordSum">0</span>条观看记录
    </div>
    <a href="#" style="float: right;"><img src="img/history_delete.png" style="height: 16px; padding-right: 10px;" /><span class="clear">清空我的观看记录</span></a>
    <dl class="his-list">
        <dt class="his-time today"> <b>今天</b> <span>05/31&nbsp;周三</span> </dt>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time" class="wt_time">已观看到： 100%</span>
        </dd>
    </dl>

    <dl class="his-list">
        <dt class="his-time"> <b>昨天</b> <span>05/30&nbsp;周二</span> </dt>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time" class="wt_time">已观看到： 100%</span>
        </dd>
    </dl>
    <dl class="his-list">
        <dt class="his-time his"> <b>更早</b>  </dt>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg" class="his_pic"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time">已观看到： 100%</span>
        </dd>
        <dd>
            <a href="#" target="video"><img src="img/history_today_first.jpg"></a>
            <ul>
                <li class="status">
                    <span class="p-type hover-hide">动漫</span>
                </li>
                <li class="continue">
                    <a href="" target="video">继续看</a>
                </li>
            </ul>
            <span class="wt_time" class="wt_time">已观看到： 100%</span>
        </dd>
    </dl>
</div>
